# apps/cloud-hooks — Polar webhooks + license checkout + ops notifications
# Secrets: .env.local / wrangler secret put. Non-secret Polar product ids belong here,
# not on apps/dashboard.

# CHM_POLAR_SERVER=production
# CHM_POLAR_LICENSE_TEAM_YEARLY=
# CHM_POLAR_LICENSE_TEAM_LIFETIME=
# CHM_POLAR_LICENSE_UNLIMITED_YEARLY=
# CHM_POLAR_LICENSE_UNLIMITED_LIFETIME=
# POLAR_ACCESS_TOKEN=
# POLAR_WEBHOOK_SECRET=
