# Marketing site. Public client keys only (inlined at build).
# Polar license checkout is served by apps/cloud-hooks, not this app.

# PUBLIC_ANALYTICS_KEY=
# PUBLIC_ANALYTICS_HOST=https://us.i.posthog.com
